* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green {
    color: #20c997
}

/* selection green */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    color: #4c4d4d;
}

p {
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

::selection {
    background: #20c997;
    color: #fff;
}

.home-section {
    background: linear-gradient(rgba(17, 20, 24, 0.8), rgba(17, 20, 24, 0.8)), url(../images/bg.jpg);
    color: rgb(17, 20, 24);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: absolute;
    width: 100%;
}

.nav-bar {
    display: flex;
    padding: 0 24px;
    height: 70px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 16.6666667%;
    padding-top: 7px;
}
.anchors {
    width: 66.666667%;
}

.anchors ul {
    display: flex;
    justify-content: center;
}

.anchors li a {
    color: white;
    transition: all 0.2s ease;
    margin-left: 2px;
    padding: 0px 0.85em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.anchors li .active {
    color: #20c997;
}

.anchors li a:hover {

    color: #20c997;
}

.home-content {
    color: white;
    text-align: center;
  

}

.hidden {
    visibility: hidden;
}

.home-content h2{
    font-weight: 500 ;
}
.home-content h2::after {
    content: "";
    animation: typing 25s infinite;
    font-size: 4rem;
    font-weight: bold;
    -webkit-animation: typing 25s infinite;
}

.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.light-grey {
    color: #dee3e4;
}

.btn {
    padding: 0.8rem 2.6rem;
    border-radius: 50rem;
    -webkit-border-radius: 50rem;
    -moz-border-radius: 50rem;
    -ms-border-radius: 50rem;
    -o-border-radius: 50rem;
    border: 2px solid #20c997;
    transition: all 0.5s ease;
}

.home-content .btn {
    background-color: transparent;
    color: #20c997;
    margin-top: 0.5rem;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.2rem;
}

.home-content .btn:hover {
    background-color: #20c997;
    color: white;
}

.setting-icon {
    position: fixed;
    top: 35%;
    right: 0;
    background: #555;
    color: white;
    font-size: 1.6rem;
    font-weight: 800;
    width: 40px;
    height: 40px;
    padding: 2px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}

.arrow {
    color: white;
    font-size: 3rem;
    animation: move-down 2s infinite;
    padding: 3px;
    -webkit-animation: move-down 2s infinite;
}

.about-section {
    padding: 4.5rem 0;
}

.about-container {
    width: 85%;
    margin: auto;
}

.about-head {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    align-items: center;
}

.about-head h2 {
    color: #dee3e4;
    opacity: 0.4;
    font-weight: 600;
    font-size: calc(1.95rem + 8.4vw);
    width: 100%;
}

.about-head p {
    position: absolute;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 600;
    font-size: 2.25rem;
    color: #212529;
    width: 100%;
}

/* Green Underline */
.about-head p::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 1px;
    border-bottom: 3px solid #20c997;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.about-body {
    display: flex;
    justify-content: space-between;
}

.about-body .info {
    padding: 0 12px;
    width: 66%;
    margin-right: 12px;
}

.about-body .info h2 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 600;
    color: #252b33;
}

.about-body .data {
    width: 33.33333%;
    padding: 0 12px;
}

.about-body .list .first-word {
    font-weight: 600;
}

.about-body .list li {
    border-bottom: 1px solid #eaeaea;
    padding: 12px 0;
}

.about-body .list .no-border {
    border-bottom: 0px solid #eaeaea;
    margin-bottom: 1.3rem;
}

.about-body .data .btn {
    color: white;
    background-color: #20c997;
    border-color: #20c997;
    margin: 50px 0 0 0;
}

.data .btn:hover {
    background-color: #1baa80;
    border-color: #1baa80;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.30);
}

.about-container .facts {
    display: flex;
    text-align: center;
    margin-top: 3rem;
}

.about-container .block {
    width: 25%;
    padding: 20px 12px;
    border-right: 1px dotted #e0dede;
}

.about-container .facts .no-right-border{
    border-right: 0px dotted #e0dede;
}

.facts .block h4 {
    color: #6c757d;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.3;
}

.facts .block p {
    margin-bottom: 0;
}

.services-head {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}
.services-head p {
    position: absolute;
    width: 100%;
    line-height: 1.5;
    font-weight: 600;
    font-size: 2.25rem;
    color: #212529;
}
.services-head p::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 1px;
    border-bottom: 3px solid #20c997;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.services-head h2 {
    opacity: 0.4;
    font-weight: 600;
    font-size: calc(1.95rem + 8.4vw);
    color: #dee3e4;
    width: 100%;
}
.service-body {
    display: flex;
    justify-content: center;
}
.services {
    width: 91.666667%;
    margin: auto;
    padding: 0 12px;
    margin: 0 47.5000px;
    display: flex;
}
.service {
    display: flex;
    padding: 0 12px 48px 12px;
}
.s-icon {
    color: #20c997;
    background-color: white;
    padding: 20px;
    font-size: 30px;
    margin-right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    box-shadow: 0px .125rem .25rem rgba(0, 0, 0, .075);
}
.services-section {
    background-color: #f8f9fa;
    padding: 4.5rem 0;
}
.service-container {
    width: 90%;
    margin: auto;
    padding: 0 12px;
}
.summary-section {
    padding: 4.5rem 0;
}
.summary-container {
    width: 85%;
    margin: auto;
}

.summary-head {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    align-items: center;
}
.summary-head h2 {
    color: #dee3e4;
    opacity: 0.4;
    font-weight: 600;
    font-size: calc(1.95rem + 8.4vw);
    width: 100% !important;
}
.summary-head p {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 600;
    font-size: 2.25rem;
    color: #212529;
}
/* Green Underline */
.summary-head p::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 1px;
    border-bottom: 3px solid #20c997;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.summary-body,
.skills-container {
    display: flex;
    flex-wrap: wrap;
}
.summary-body .column .block {
    border: 1px solid #dee2e6;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}
.summary-body .column {
    padding: 0 24px;
    width: 50%;
}
.summary-body .column h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5em;
    font-weight: 600;
    color: #252b33;
}
.summary-body .column .block :nth-child(1) {
    background-color: #20c997;
    width: fit-content;
    color: white;
    padding: 0.35em 0.65em;
    line-height: 1;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    font-weight: 400;
    font-size: 0.875rem
}
.summary-body .column .block h3 {
    font-size: 1.3125rem;
    color: #252b33;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.summary-body .column .block :nth-child(3) {
    color: #dc3545
}
.skills h2 {
    margin: 1.5rem 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: #252b33;
}
.skills-container .column {
    width: 50%;
    padding: 0 24px;
}
.progress-bar {
    height: 0.5rem;
    background-color: #e9ecef;
    position: relative;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    margin-bottom: 1.5rem;
}
.progress-bar .child-65 {
    height: 0.5rem;
    position: absolute;
    background-color: #20c997;
    width: 65%;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.progress-bar .child-95 {
    height: 0.5rem;
    position: absolute;
    background-color: #20c997;
    width: 95%;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.progress-bar .child-80 {
    height: 0.5rem;
    position: absolute;
    background-color: #20c997;
    width: 80%;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.progress-bar .child-70 {
    height: 0.5rem;
    position: absolute;
    background-color: #20c997;
    width: 70%;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.progress-bar .child-60 {
    height: 0.5rem;
    position: absolute;
    background-color: #20c997;
    width: 60%;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.progress-bar .child-99 {
    height: 0.5rem;
    position: absolute;
    background-color: #20c997;
    width: 99%;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.bar-head {
    display: flex;
    justify-content: space-between;
}
.bar-head p {
    font-weight: 500;
    color: #212529;
    margin-bottom: 0.5rem;
}
.skills .cv-button {
    display: flex;
    justify-content: center;
}
.skills .cv-button .btn {
    color:#1baa80;
    border-color: #1baa80;
    margin-top: 3rem;
}
.skills .cv-button .btn:hover {
    color: white;
    background-color: #1baa80;
}
.portfolio-section {
    padding: 4.5rem 0;
    background-color:#f8f9fa;
}
.portfolio-container {
    width: 85%;
    margin: auto;
}
.portfolio-head {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio-head h2 {
    color: #dee3e4;
    opacity: 0.4;
    font-weight: 600;
    font-size: calc(1.95rem + 8.4vw);
    width: 100%;
}
.portfolio-head p {
    position: absolute;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 600;
    font-size: 2.25rem;
    color: #212529;
    width: 100%;
}
/* Green Underline */
.portfolio-head p::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 1px;
    border-bottom: 3px solid #20c997;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.portfolio-body .menu ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.portfolio-body a {
    color: #7b8084;
    padding-bottom: 1rem;
    position: relative;
}
.portfolio-body .active {
    color: #20c997;
}
.portfolio-body .active::before {
    content: "";
    width: 200%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    background-color: #20c997;
    position: absolute;
}
.portfolio-body .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;  
}
.portfolio-body .gallery img {
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    width: 100%;
    height: 100%;
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}
.portfolio-body .gallery .pic{
    margin: 12px;
    position: relative;
}
.portfolio-body .gallery .layer{
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   top:0;
   bottom: 0;
   left:0;
   right:0;
   z-index: 100000000;
   border-radius: 0.25rem;
   -webkit-border-radius: 0.25rem;
   -moz-border-radius: 0.25rem;
   -ms-border-radius: 0.25rem;
   -o-border-radius: 0.25rem;
   display: flex;
   justify-content: center;
   align-items: center;
   color:white;
   flex-direction: column;
   opacity: 0;
   transition:all 0.3s ease;
   -webkit-transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
   -ms-transition:all 0.3s ease;
   -o-transition:all 0.3s ease;
}
.portfolio-body .gallery .pic:hover .layer{
   opacity: 1;
}
.portfolio-body .gallery .pic:hover img{
 filter: blur(1.5px);
 -webkit-filter: blur(1.5px);
 transform: scale(1.01);
 -webkit-transform: scale(1.01);
 -moz-transform: scale(1.01);
 -ms-transform: scale(1.01);
 -o-transform: scale(1.01);
}
.portfolio-body .gallery .column{
    width: 33.33333333%;  
}
.portfolio-body .layer h3{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
}
.portfolio-body .layer p{
    color: #dee3e4 ;
}
.client-section {
    padding: 4.5rem 0;

}
.client-container {
    width: 83%;
    margin: auto;
}
.client-head {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.client-head h2 {
    color: #dee3e4;
    opacity: 0.4;
    font-weight: 600;
    font-size: calc(1.95rem + 8.4vw);
    width: 100%;
}
.client-head p {
    position: absolute;
    /* left: 0;
    right: 0; */
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 600;
    font-size: 2.25rem;
    color: #212529;
    width: 100%;
}
/* Green Underline */
.client-head p::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 1px;
    border-bottom: 3px solid #20c997;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.client-body .block-head{
    display: flex;
}
.client-body {
    display: flex;
    justify-content: space-between;
}
.client-body .block{
    background-color: #F8F9FA;
    border-radius:0.25rem;
    -webkit-border-radius:0.25rem;
    -moz-border-radius:0.25rem;
    -ms-border-radius:0.25rem;
    -o-border-radius:0.25rem;
    width:50%;
    padding: 3rem;
}
.client-body .block:nth-child(1){
    margin-right: 25px;
}
.stars{
    display: flex;
    color:#ffc107;
}
.block-head img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 1rem;
}
.block-head{
margin-bottom: 1.5rem;

}
.block-head .c-info h3{
    font-weight: 600 ;
    font-size: 1rem;
    line-height: 1.8;
    color: #212529;
}
.block-head .c-info p{
    font-weight: 500 ;
    color: #6c757d;
}
.block-body p{
    font-weight: 500 ;
    color: #212529;
    margin-bottom: 1.5rem;
 }
 .radio-btn{
    width:20px;
    height:20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border :1px solid #20c997;
    margin-right: 10px;
}
.contact-section {
    padding: 4.5rem 0;
    background-color: #f8f9fa;
}
.contact-container {
    width: 84%;
    margin: auto;
}
.contact-head {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact-head h2 {
    color: #dee3e4;
    opacity: 0.4;
    font-weight: 600;
    font-size: calc(1.95rem + 8.4vw);
    width: 100%;
}

.contact-head p {
    position: absolute;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 600;
    font-size: 2.25rem;
    color: #212529;
    width: 100%;
}
/* Green Underline */
.contact-head p::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 1px;
    border-bottom: 3px solid #20c997;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.contact-body .fa-solid{
    color:#20c997;
    margin-right: 8px;
    font-size: 18px;
}
.contact-body{
    display: flex;
}
.contact-body .contact{
    width: 25%;
    padding: 0 12px;
}
.contact-body .contact :nth-child(2){
 margin-bottom: 1.5rem;

}
.contact-body .contact .follow{
    font-size: 1.3125rem;
    color: #252b33;
    font-weight: 500;
    line-height: 1.2;
}
.contact-body .notes {
    width:75%;
}
.contact-body .notes .row{ 
   display: flex;
   margin-bottom: 1.5rem;
   justify-content: center;

}
.contact-body .notes input{
    padding: 0.81rem 0.96rem;
    width:50%;
    margin:0 12px;
    border:1px solid #dae1e3;
    color: #656565;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.notes h2{
    margin-left:12px;
    margin-bottom: 12px;
}

.contact-body form :nth-child(2){
    margin:0 12px;
}
.contact-body form :nth-child(2) textarea{
    width: 100%;
    border-radius: 0.25rem;
    border:1px solid #dae1e3;
    padding: 0.81rem 0.96rem;
    color: #656565;
    font-weight: 400;
    line-height: 1.5;
}
::placeholder {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #B1BFD5;
   
  }
  .notes form .form-btn{
    color: white;
    background-color: #20c997;
    font-family: 'Poppins';
    border-color: #20c997;
    border-radius: 50rem;
    padding: 0.8rem 2.6rem;
    width:25%;
    font-weight: 500;
    border: 2px solid #20c997;
    transition: all 0.5s ease;
    font-size: 1rem;
}

    .notes form .form-btn:hover{
    background-color: #1baa80;
    border-color: #1baa80;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
  }
.contact h3 , .notes h2{
    font-size: 1.3125rem;
    color: #252b33;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    color: #252b33;
    font-weight: 400;
    padding: 4.125rem 0;
}
.footer ul{
    width:50%;
    display: flex;
    justify-content: flex-end;
    gap:1rem;
}

.footer .border{
    position: relative;
}

.footer .border::after{
    content: " ";
    background-color: #dae1e3;
    width: 1px;
    height: 40%;
    top: 10%;
    left: 100%;
    position: absolute;
    margin-left: 8px;
}
@keyframes move-down {
    0% {
        transform: translateY(40px);
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
    }

    100% {
        transform: translateY(80px);
        opacity: 100%;
        -webkit-transform: translateY(80px);
        -moz-transform: translateY(80px);
        -ms-transform: translateY(80px);
        -o-transform: translateY(80px);
    }
}
/* animation */
@keyframes typing {
    0% {
        content: "";
    }

    1% {
        content: "I'|";
    }

    2% {
        content: "I'm|";
    }

    3% {
        content: "I'm S|";
    }

    4% {
        content: "I'm  Si|";
    }

    5% {
        content: "I'm Sim|";
    }

    6% {
        content: "I'm  Simo|";
    }

    7% {
        content: "I'm Simon|";
    }

    8% {
        content: "I'm Simon O|";
    }

    9% {
        content: "I'm Simon Ol|";
    }

    10% {
        content: "I'm Simon Oli|";
    }

    11% {
        content: "I'm Simon Oliv|";
    }

    12% {
        content: "I'm Simon Olivi|";
    }

    13% {
        content: "I'm Simon Olivia.|";
    }

    14% {
        content: "I'm Simon Olivia.";
    }

    15% {
        content: "I'm Simon Olivia.|";
    }

    16% {
        content: "I'm Simon Olivia.";
    }

    17% {
        content: "I'm Simon Olivia.|";
    }

    17.5% {
        content: "I'm Simon Olivia|";
    }

    18% {
        content: "I'm Simon Olivi|";
    }

    18.5% {
        content: "I'm Simon Oliv|";
    }

    19% {
        content: "I'm Simon Ol|";
    }

    19.5% {
        content: "I'm Simon O|";
    }

    20% {
        content: "I'm Simon |";
    }

    20.5% {
        content: "I'm Simon|";
    }

    21% {
        content: "I'm Simo|";
    }

    21.5% {
        content: "I'm Sim|";
    }

    22% {
        content: "I'm Simo|";
    }

    22.5% {
        content: "I'm Sim|";
    }

    23% {
        content: "I'm Si|";
    }

    23.5% {
        content: "I'm S|";
    }

    24% {
        content: "I'm |";
    }

    25% {
        content: "I'm a| ";
    }

    26% {
        content: "I'm a F|";
    }

    27% {
        content: "I'm a Fr|";
    }

    28% {
        content: "I'm a Fre|";
    }

    29% {
        content: "I'm a Free|";
    }

    30% {
        content: "I'm a Freel|";
    }

    31% {
        content: "I'm a Freela|";
    }

    32% {
        content: "I'm a Freelan|";
    }

    33% {
        content: "I'm a Freelanc|";
    }

    34% {
        content: "I'm a Freelance|";
    }

    35% {
        content: "I'm a Freelancer|";
    }

    36% {
        content: "I'm a Freelancer.|";
    }

    37% {
        content: "I'm a Freelancer.";
    }

    38% {
        content: "I'm a Freelancer.|";
    }

    39% {
        content: "I'm a Freelancer.";
    }

    40% {
        content: "I'm a Freelancer.|";
    }

    41% {
        content: "I'm a Freelancer|";
    }

    41.5% {
        content: "I'm a Freelance|";
    }

    42% {
        content: "I'm a Freelanc|";
    }

    42.5% {
        content: "I'm a Freelan|";
    }

    43% {
        content: "I'm a Freela|";
    }

    43.5% {
        content: "I'm a Freel|";
    }

    44% {
        content: "I'm a Free|";
    }

    44.5% {
        content: "I'm a Fre|";
    }

    45% {
        content: "I'm a Fr|";
    }

    45.5% {
        content: "I'm a F|";
    }

    46% {
        content: "I'm a |";
    }

    47% {
        content: "I'm a P|";
    }

    48% {
        content: "I'm a Ph|";
    }

    49% {
        content: "I'm a Pho|";
    }

    50% {
        content: "I'm a Phot|";
    }

    51% {
        content: "I'm a Photo|";
    }

    52% {
        content: "I'm a Photog|";
    }

    53% {
        content: "I'm a Photogr|";
    }

    54% {
        content: "I'm a Photogra|";
    }

    55% {
        content: "I'm a Photograp|";
    }

    56% {
        content: "I'm a Photograph|";
    }

    57% {
        content: "I'm a Photographe|";

    }

    58% {
        content: "I'm a Photographer|";
    }

    59% {
        content: "I'm a Photographer.|";
    }

    60% {
        content: "I'm a Photographer.";
    }

    61% {
        content: "I'm a Photographer.|";
    }

    61.5% {
        content: "I'm a Photographer.";
    }

    62% {
        content: "I'm a Photographer.|";
    }

    62.5% {
        content: "I'm a Photographer|";
    }

    63% {
        content: "I'm a Photographe|";
    }

    63.5% {
        content: "I'm a Photograph|";
    }

    64% {
        content: "I'm a Photograp|";
    }

    64.5% {
        content: "I'm a Photogra|";
    }

    65% {
        content: "I'm a Photogr|";
    }

    65.5% {
        content: "I'm a Photog|";
    }

    66% {
        content: "I'm a Photo|";
    }

    66.5% {
        content: "I'm a Phot|";
    }

    70% {
        content: "I'm a Pho|";
    }

    70.5% {
        content: "I'm a Ph|";
    }

    71% {
        content: "I'm a P|";
    }

    71.5% {
        content: "I'm a|";
    }

    72% {
        content: "I'm a D|";
    }

    73% {
        content: "I'm a De|";
    }

    74% {
        content: "I'm a Des|";
    }

    75% {
        content: "I'm a Desi|";
    }

    76% {
        content: "I'm a Desig|";
    }

    77% {
        content: "I'm a Design|";
    }

    78% {
        content: "I'm a Designe|";
    }

    79% {
        content: "I'm a Designer|";
    }

    80% {
        content: "I'm a Designer.|";
    }

    81% {
        content: "I'm a Designer.";
    }

    82% {
        content: "I'm a Designer.|";
    }

    83% {
        content: "I'm a Designer.";
    }

    84% {
        content: "I'm a Designer.|";
    }

    85% {
        content: "I'm a Designer|";
    }

    86% {
        content: "I'm a Designe|";
    }

    87% {
        content: "I'm a Design|";
    }

    88% {
        content: "I'm a Desig|";
    }

    89% {
        content: "I'm a Desi|";
    }

    90% {
        content: "I'm a Des|";
    }

    92% {
        content: "I'm a De|";
    }

    93% {
        content: "I'm a D|";
    }

    94% {
        content: "I'm a| ";
    }

    95% {
        content: "I'm |";
    }

    96% {
        content: "I'm|";
    }

    97% {
        content: "I'|";
    }

    98% {
        content: "I|";
    }

    99% {
        content: "";
    }
}

/* Media Query */

@media only screen and (max-width: 992px) {
   
    .about-body {
       flex-wrap: wrap;
       
    }
    .about-body .info {
        width: 100%;
        text-align: center;
    }
    .about-body .data {
        width: 100%;
    }
   .gallery{
    flex-wrap: wrap;
   }
   .portfolio-body .gallery .column{
    width: 50%;  
}

.client-body .block{
    
 width:100%;
}
.client-body .block:nth-child(2){  
    display:none;
   }
.footer{
    flex-wrap: wrap;

text-align: center;
}
.footer p{
    width:100%;
}
.footer ul{
    width:100%;
   justify-content: center;
}
}
@media only screen and (max-width: 575px) {
    .portfolio-body .gallery .column{
        width: 100%;  
}}

@media only screen and (max-width: 767px) {
.about-container .facts {
    flex-wrap: wrap;
}

.about-container .block {
    width: 50%;      
    border-top: 1px dotted #e0dede;
}
.about-container .facts .no-top-border{
    border-top: 0px dotted #e0dede;
}
.services{
    flex-wrap: wrap;
}
.services .column{
    width:100%;
}

.summary-body{
    flex-wrap: wrap;   
}
.summary-body .column{
    width:100%;
}
.skills .column{
    width: 100%;
}
.contact-body .notes .row{ 
    flex-wrap: wrap;
}
.contact-body{
    flex-wrap: wrap-reverse;
    text-align: center;

}
.contact-body .notes{
    width: 100%;
}
.contact-body .notes input:nth-child(1){
    width: 100%;
   margin-bottom: 1.5rem;
}
.contact-body .notes input:nth-child(2){
    width: 100%;
}
.contact-body .contact{
    width: 100%;
}
}
